[submodule "third-party/swift-concurrency-pro"]
	path = third-party/swift-concurrency-pro
	url = git@github.pie.apple.com:rfalk/Swift-Concurrency-Agent-Skills.git
[submodule "third-party/swiftui-pro"]
	path = third-party/swiftui-pro
	url = git@github.pie.apple.com:rfalk/swiftui-pro.git
